[Unit]
Description=Automated LUKS decryption
Before=default.target

[Service]
type=simple
ExecStart=/usr/bin/python3 /ssec/ssec.py

[Install]
WantedBy=mutli-user.target